.my-nav {
  background-color: #1a187a;
}

.banner-section {
  height: "100px";
}

.banner-item {
  background: url("./images/bg-gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: "lightgray";
}

/* category section  */
.category-container {
  background: #fafafa;
  height: 400px;
  display: flex;
  align-items: center;
}

.category-card-area {
  display: flex;
  justify-content: space-between;
}

.category {
  border-radius: 15px;
  background: #ededed;
  color: #000;
  display: flex;
  width: 170px;
  height: 130px;
  min-width: 135px;
  padding: 24px 52px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.category h3 {
  color: black;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.product-card {
  display: flex;
  background-color: #f6f6f6;
  min-width: 200px;
  padding: 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 9px;
  outline: none;
}

.product-card h3 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.product-card span {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
}

.product-card button {
  background-color: #000;
  color: white;
  width: 75%;
  padding: 12px 64px;
  border-radius: 8px;
}

/* hot-product-section */
.wrapper {
  margin: 52px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(4, [col] auto);
  grid-template-rows: repeat(2, [row] auto);
}

.box {
  padding: 20px;
  display: flex;
  font-size: 150%;
}

.a {
  grid-column: col / span 2;
  grid-row: row;
  display: flex;
  height: 330px;
  justify-content: end;
}

.a div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.a img {
  left: 0px;
}

.a h4 {
  font-weight: 500;
  font-size: 50px;
}

.a p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #909090;
}

.b {
  grid-column: col 3 / span 2;
  grid-row: span 2;
  background: #ededed;
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
}

.b > div {
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.b h4 {
  color: #000;
  font-size: 64px;
  font-weight: 100;
  line-height: 56px;
}

.b h4 span {
  font-weight: 500;
}

.b p {
  font-weight: 500;
  font-size: 14px;
  color: #909090;
  line-height: 24px;
}

.b button {
  border-radius: 6px;
  background: #27448e;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
}

.b img {
  right: -350px;
  top: 100px;
}

.c {
  grid-column: col / span 2;
  grid-row: row 2;
  background: #adc2d7;
  overflow: hidden;
  height: 275px;
}

.c img {
  top: -270px;
  left: -170px;
}

/* media query for small devices*/
@media screen and (max-width: 576px) {
  /* Browse by category section */
  .category-container {
    margin: 100px auto 0 auto;
    overflow: hidden;
    height: auto;
  }

  .category-card-area {
    display: grid;
    margin-top: 0px;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }

  .category {
    width: auto;
  }

  /* products section */
  .product-card-area {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
  }

  .search-field {
    display: none;
  }

  /* hot-product-section */
  .wrapper {
    margin: 52px auto 0px auto;
    display: flex;
    flex-direction: column;
  }

  .box {
    padding: 20px;
    display: flex;
    font-size: 150%;
  }

  .a {
    width: 100%;
    order: 1;
  }

  .a img {
    height: 70%;
    left: -10px;
    bottom: -5px;
  }

  .b {
    order: 3;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .b div {
    order: 1;
    width: 100%;
  }

  .b img {
    width: 100%;
    order: 2;
    right: -200px;
    top: 100px;
  }

  .c {
    order: 2;
  }

  .c div {
    width: 50%;
  }

  .c img {
    width: 50%;
    top: 0px;
    left: -180px;
  }
}
